/* RESPONSIVENESS (4k devices) */
@media only screen and (min-width: 2560px) {
	    /* Text */
        .pageTitle{

            width: calc(100% - 50px);
            height: fit-content;
            
            margin-left: 100px;
            margin-top: 400px;
        
            color: black;
        
            font-family: var(--display-font);
            font-size: var(--title-4k-size);
            line-height: 100%;
        }
        .pageText{
        
            width: calc(100% - 800px);
    
            margin-left: 100px;
            margin-top: 20px;
    
            color: black;
        
            font-family: var(--text-font);
            font-size: var(--text-4k-size);
            font-weight: 300;
        }
        
        /* Social Icons */
        .icons{
    
            position: absolute;
            top: 85%;
            left: calc(100% - 140px);
        
            list-style-type: none;
            transform: scale(2);
        }
        
        /* Lists (skills, projects) */
        /* imageLi is the photo element in the about page  */
        .list{

            height: fit-content;
            color: black;
        
            font-family: var(--display-font);
            font-size: var(--list-4k-size);
            
            line-height: 100%;
            text-align: right;
        
            list-style-type: none;
            z-index: 10;
        }
        .imageLi{
            width: 500px;
            height: 500px;
            background-color: black;
        
            margin-left: calc(100% - 500px);
            margin-top: 50px;
        }
        .imageLi>img{
            width: 450px;
            height: 450px;
            margin: 25px;
        }

        /* listButton are button inside contact list */
        .listButton{
            width: 150px;
            height: 150px;

            margin-bottom: 10px; 
            
            background: black;

            text-align: center;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .listButton > a{
            font-family: var(--display-font);
            font-size: 80px;
            color: var(--quite-white);
        }
        
        /* Text under lists */
        .contactsList>#listUnderText{
            font-family: var(--text-font);
            font-size: var(--text-4k-size);
            text-align: left;
            width: 500px;
            line-height: 30px;
        }
        #listUnderText{
            font-family: var(--text-font);
            font-size: var(--text-4k-size);
        }
}

