/* SVG Line Animation */
.lineBehind {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;

    animation: dash .75s linear forwards;
    animation-delay: 1s;

    z-index: -1;
} 
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}

/* Animation on scroll */
.scrollAnimation{  
    animation: scrollAnimation 1s forwards;
    width: 100vw;
    height: 100vh;
    margin: 0;

    position: absolute;
    top:0;
    margin-top: -100vh;
    z-index: 15;
}
@keyframes scrollAnimation{
    0%{
        margin-top: -100vh;
    }
    40%{
        margin-top: 0vh;
    }
    80%{
        margin-top: 0vh;
    }
    100%{
        margin-top: 100vh;
        
    }
}

/* Content opacity animation (smoother experience) */
.contentAnimation{
    animation: contentAnimation .25s forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes contentAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}